{% extends 'base.html.twig' %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block stylesheets %}
  <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
  {{ parent() }}
  <style>
    body {
      margin: 0;
      padding: 0;
      font-weight: 100;
      font-family: 'Lato';
    }
  </style>
{% endblock %}

{% block body %}
  {#<div class="title">NFQ Akademija</div>#}
  <div class="jumbotron">
    <h1 class="display-4" id="main-page-title">NFQ Akademija</h1>
    <hr class="my-4">
    <a class="btn btn-success btn-lg" id="btn-on-main-page" href="{{ path('fos_user_registration_register') }}">Register</a>
    <a class="btn btn-success btn-lg" id="btn-on-main-page" href="{{ path('fos_user_security_login') }}" role="button">Login</a>
    <a class="btn btn-success btn-lg" id="btn-on-main-page" href="{{ path('admin') }}" role="button">MyAdmin</a>

  </div>
{% endblock %}
